<h3>Link Visits</h3>
<h6><%= @link.get_name %></h6>
<div class="card m-3 p-3 shadow-sm align-items-center">
    <%= form_tag(visits_path, method: :get, class: "row gy-2 gx-3 align-items-center") do %>
    <div class="col-auto">
        <%= label_tag :ip, "Filter by IP:" %>
        <%= text_field_tag :ip, params[:ip], class: "form-control" %>
    </div>

    <div class="col-auto">
        <%= label_tag :start_date, "Filter by Start Date:"  %>
        <%= date_field_tag :start_date, params[:start_date], class: "form-control" %>
    </div>

    <div class="col-auto">
        <%= label_tag :end_date, "Filter by End Date:" %>
        <%= date_field_tag :end_date, params[:end_date], class: "form-control" %>
    </div>
    <div class="col-auto">
        <%= submit_tag "Filter", class: "btn btn-primary" %>
    </div>
    <% end %>
</div>
<div class="row">
  <% if @visits.any? && @visits.size > 8 %>
    <% @visits.each_slice(8) do |visits_slice| %>
      <div class="col-md-4 card mx-auto ">
        <table class="table">
          <thead>
            <tr>
              <th>IP</th>
              <th>Day</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody>
            <% visits_slice.each do |visit| %>
              <tr>
                <td><%= visit.ip %></td>
                <td><%= visit.created_at.to_formatted_s(:day) %></td>
                <td><%= visit.created_at.to_formatted_s(:hour) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  <% elsif @visits.any? %>
    <div class="card w-50 mx-auto">
        <table class="table">
          <thead>
            <tr>
              <th>IP</th>
              <th>Day</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody>
            <% @visits.each do |visit| %>
            <tr>
                <td><%= visit.ip %></td>
                <td><%= visit.created_at.to_formatted_s(:day) %></td>
                <td><%= visit.created_at.to_formatted_s(:hour) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  <% else %>
    <p>No visits</p>
  <% end %>
</div>

<%= paginate @visits %>

<%= link_to "Back to link", @link, class:" btn btn-light-sm my-3 shadow" %>