<div class="card shadow-sm p-3 w-75 mx-auto">
  <div class="card-body">
    <h5 class="card-title"><%= current_user.username %></h5>
    
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Email: <%= current_user.email %></li>
    <li class="list-group-item">You Have <%= current_user.links.count %> Links</li>
  </ul>
  <div class="card-body d-flex justify-content-center gap-2">
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, :class => 'btn btn-danger' %>
    <%= link_to 'Edit Profile', edit_user_registration_path, :class => 'btn btn-secondary' %>
  </div>
</div>